<nav class="navbar bg-success">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="text-muted"> Address Directory
        <%= link_to(image_tag("images.png", title: "logo"), '/')%>
      </h3>
    </div>
  </div>
</nav>